/* El estilo CSS utiliza la propiedad position: fixed para posicionar el botón en 
la parte inferior derecha de la pantalla, y la propiedad bottom y right para establecer 
un margen. El uso de media query @media (max-width: 768px) permite ajustar la posición 
del botón en pantallas más pequeñas, reduciendo el margen en ambos ejes.
*/

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0a75d2;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    #back-to-top {
      bottom: 10px;
      right: 10px;
    }
  }
  