/*Código que establece el tamaño del elemento <main> en un 80% del tamaño del elemento <body> 
en pantallas de escritorio y en un 100% en dispositivos móviles:*/

/*la media query se activa en pantallas con un ancho máximo de 767 píxeles 
y establece el tamaño de <main> en un 100% del tamaño del <body>. En todas 
las otras pantallas, el tamaño de <main> sigue siendo del 80% del tamaño del <body>.*/

body {
  width: 100%;
}

main {
  width: 80%;
  text-align: left;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  main {
    width: 100%;
  }
}
/*la media query se activa en pantallas con un ancho máximo de 767 píxeles 
y establece el tamaño de <main> en un 100% del tamaño del <body>. En todas 
las otras pantallas, el tamaño de <main> sigue siendo del 80% del tamaño del <body>.*/